root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
tab_width = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_top_level_statements = true:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_diagnostic.IDE0040.severity = warning

[*.{py,pyi}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{js,ts,tsx,scss}]
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off
